{%extends 'base.html'%}
{% block content %}
<div class="row">
    {% if images %}
    <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
    <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}
</div>

<div class="row">
    {% if images %}
    {% for gallery in images %}

    <div class="col-md-3">
        
        <img style="border-radius: 100px" src="{{gallery.imagePath.url}}" alt="gallery" height="200"
                        style="border-radius: 50%;"> <br><br>
    </div>
    {% endfor %}
    {% endif %}
    
 {% endblock %}
</div>