<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% extends "base.html" %}
{% block content%}


<h1 style="text-align: center;" id="three"> Welcome to my gallery</h1><hr id="line"style="background:black;">
<div class="five">
<!-- <img src="https://images.pexels.com/photos/459335/pexels-photo-459335.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="image" height=700; width="1500"> -->
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
   #three{
       font-family: 'Great Vibes', cursive;
       font-size: 50px;
       color:rgb(47, 85, 9);
   }
   .shoes{
     color: rgb(59, 4, 4);
     font-family: 'Amaranth', sans-serif;
     font-size: 15px;
     
   }
   #line{
     height: 10px;
     width: 370px;
   }
   #myInput:hover{
     text-decoration: underline;
     color: rgb(59, 4, 4);
     cursor: pointer;
     border-radius: 50px;

   }
   #btn{
     background: black;
     color: white;
     border-radius: 25px;
   }
  </style>

<div class="container" id="five">
    <div class="row">
        <h2>{{message}}</h2>
    </div>

  <div class="row" id="rower1" >
      {% for gallery in images %}
      <div class="col-md-4">
         <p style="font-size: 20px;padding-left:100px;color:rgb(190, 10, 10);font-family: 'Sacramento', cursive">
          {{gallery.imageName}}</p><br>
          <input type="text" value="{{gallery.imagePath}}" id="myInput">
          <br>
          <button onclick="myFunction()" id="btn">Copy</button>
      <!-- share button -->
      <div id="share-buttons"> 
          <!-- Facebook --> 
          <a href="https://www.facebook.com/sharer.php?u=https://frinmash.blogspot.com" target="_blank"><img src="https://4.bp.blogspot.com/-raFYZvIFUV0/UwNI2ek6i3I/AAAAAAAAGSA/zs-kwq0q58E/s1600/facebook.png" alt="Facebook"  height="35"/></a>
           <!-- Twitter --> 
           <a href="https://twitter.com/share?url=https://frinmash.blogspot.com&text=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/--ISQEurz3aE/UwNI4hDaQMI/AAAAAAAAGS4/ZAgmPiM9Xpk/s1600/twitter.png" alt="Twitter" height="35"/></a> 
           <!-- Google+ -->
            <a href="https://plus.google.com/share?url=https://frinmash.blogspot.com" target="_blank"><img src="https://2.bp.blogspot.com/-9ijXNtKTaSk/UwNI3ANT4MI/AAAAAAAAGSY/Tu4kE8x9SnI/s1600/google.png" alt="Google" height="35"/></a> 
            <!-- Digg --> 
            <a href="https://www.digg.com/submit?url=https://frinmash.blogspot.com" target="_blank"><img src="https://4.bp.blogspot.com/-AUdsqB7cajQ/UwNI2iqT_AI/AAAAAAAAGR8/0FV_ZcsiylU/s1600/diggit.png" alt="Digg" height="35"/></a> 
            <!-- Reddit --> 
            <a href="http://reddit.com/submit?url=https://frinmash.blogspot.com&title=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/-1-mZEa1eiyc/UwNI4JytiFI/AAAAAAAAGSs/AoKmBkkJR-s/s1600/reddit.png" alt="Reddit" height="35"/></a> 
            <!-- LinkedIn --> 
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://frinmash.blogspot.com" target="_blank"><img src="https://2.bp.blogspot.com/-3_cATk7Wlho/UwNI3eoTTLI/AAAAAAAAGSQ/Y8cpq6S-SeQ/s1600/linkedin.png" alt="LinkedIn" height="35"/></a> 
            <!-- Pinterest -->
             <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','https://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());"><img src="https://2.bp.blogspot.com/-3CfsOmDx-Dg/UwNI3kMVjgI/AAAAAAAAGSU/OSixn3lcjX4/s1600/pinterest.png" alt="Pinterest" height="35"/></a> 
             <!-- StumbleUpon--> 
             <a href="http://www.stumbleupon.com/submit?url=https://frinmash.blogspot.com&title=Simple Share Buttons" target="_blank"><img src="https://2.bp.blogspot.com/-si3v8X2IVGI/UwNI4bncQrI/AAAAAAAAGSo/iZepRnIJFZU/s1600/stumbleupon.png" alt="StumbleUpon" height="35" /></a> 
             <!-- Email --> 
             <a href="mailto:?Subject=FrinMash&Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://frinmash.blogspot.com"><img src="https://4.bp.blogspot.com/-njgKtNLrPqI/UwNI2o-9WfI/AAAAAAAAGR4/f8da1gBgyLs/s1600/email.png" alt="Email" height="35"/></a> 
            </div>



        <img data-toggle="modal" data-target="#{{gallery.id}}" style="margin-left: 50px;margin-bottom: 50px" src="{{gallery.imagePath.url}}"
          class="img-responsive" alt="Image">
        
        <!-- Modal  -->
        <div class="modal fade" id="{{gallery.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true" style="padding-right: 500px">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Philosopher', sans-serif;font-size: 15px">{{gallery.imageName}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img style="border-radius: 100px" src="{{gallery.imagePath.url}}" alt="gallery"> <br><br>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image description:{{gallery.imageDescription}}</p>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image category:{{gallery.image_category}}</p>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image location:{{gallery.image_location}}</p>

                <input type="text" value="http://127.0.0.1:8000{{gallery.imagePath.url}}" id="myInput" style="font-family: 'Sacramento', cursive;font-size: 20px">
                <br>
                <button class="rounded btn-primary" onclick=copyImageLink()>:clipboard:Copy Image Link</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-family: 'Sacramento', cursive;font-size: 20px">Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-family: 'Sacramento', cursive;font-size: 20px">Share</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
          
          var tooltip = document.getElementById("myTooltip");
          tooltip.innerHTML = "Copied: " + copyText.value;
        }
        
        function outFunc() {
          var tooltip = document.getElementById("myTooltip");
          tooltip.innerHTML = "Copy to clipboard";
        }
        </script>
        {% endfor%}
    </div>
  {%endblock%}