<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% extends "base.html" %}
{% block content%}


<h1 style="text-align: center;" id="three"> Welcome to my gallery</h1><hr id="line"style="background:black;">
<div class="five">
<!-- <img src="https://images.pexels.com/photos/459335/pexels-photo-459335.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" alt="image" height=700; width="1500"> -->
</div>
<style>
    @import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
   #three{
       font-family: 'Great Vibes', cursive;
       font-size: 50px;
       color:rgb(47, 85, 9);
   }
   .shoes{
     color: rgb(59, 4, 4);
     font-family: 'Amaranth', sans-serif;
     font-size: 15px;
     
   }
   #line{
     height: 10px;
     width: 370px;
   }
   #myInput:hover{
     text-decoration: underline;
     color: rgb(59, 4, 4);
     cursor: pointer;
     border-radius: 50px;

   }
   #btn{
     background: black;
     color: white;
     border-radius: 25px;
   }
  </style>

<div class="container" id="five">
    <div class="row">
        <h2>{{message}}</h2>
    </div>

  <div class="row" id="rower1" >
      {% for gallery in images %}
      <div class="col-md-4">
         <p style="font-size: 20px;padding-left:100px;color:rgb(190, 10, 10);font-family: 'Sacramento', cursive">
          {{gallery.imageName}}</p><br>
        <img data-toggle="modal" data-target="#{{gallery.id}}" style="margin-left: 50px;margin-bottom: 50px" src="{{gallery.imagePath.url}}"
          class="img-responsive" alt="Image">
        
        <!-- Modal  -->
        <div class="modal fade" id="{{gallery.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true" style="padding-right: 500px">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: 'Philosopher', sans-serif;font-size: 15px">{{gallery.imageName}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img style="border-radius: 100px" src="{{gallery.imagePath.url}}" alt="gallery" height="200"> <br><br>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image description:{{gallery.imageDescription}}</p>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image category:{{gallery.image_category}}</p>
                <p style="font-size: 20px;font-family: 'Sacramento', cursive">
                  image location:{{gallery.image_location}}</p>

                <input class="form-control input-lg" type="text" value="http://127.0.0.1:8000{{gallery.imagePath.url}}"
                id="{{gallery.id}}-url" style="color: black;font-family: 'Acme', sans-serif;">

                <button class="btn btn-dark" onclick="copyUrl('{{gallery.id}}-url')"
                style="color: black;font-family: 'Acme', sans-serif;">Copy</button>

              </div>
              <script>
                function copyUrl(element) {
                var myVar = document.getElementById(element);
                myVar.select();
                document.execCommand('copy');
                alert("Copied the link of image: " + myVar.value);
              }

                  </script>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-family: 'Sacramento', cursive;font-size: 20px">Close</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-family: 'Sacramento', cursive;font-size: 20px">Share</button>
              </div>
            </div>
          </div>
        </div>
      </div>

   
        {% endfor%}
    </div>
  {%endblock%}
  